/* * {
    outline: 1px solid red;
} */

:root {
    --default-size: 1rem;
    --color-text: #e1e1e0;
    --color-bg: #141418;
    --color-link: #a8dbe0;
    --color-link-hover: #eee;
    --color-title: #e1e1e0;
    --color-title-alt: #e2e2e2;
    --color-border: rgb(91 91 91 / 44%);
    --color-menu-item: #393939;
    --color-menu-item-alt: #a1a1a1;
    --color-menu-item-hover: #e1e1e0;
    --color-menu-item-desc: #f1f1f1;
    --color-desc-cont: #e2e2e2;
    --color-desc: #656569;
    font-size: var(--default-size);
    font-family: "Nunito Sans", sans-serif;
}

body {
    margin: 0;
    color: var(--color-text);
    background-color: var(--color-bg);
}

.with-hashtag::before {
    content: '# ';
}

.no-shape {
    width: calc(2*var(--default-size));
    height: calc(2*var(--default-size));
}

.circle {
    width: calc(2*var(--default-size));
    height: calc(2*var(--default-size));
    border-radius: 50%;
    background-color: var(--color-text);
}

.triangle {
    position: relative;
    width: calc(2*var(--default-size));
    height: calc(2*var(--default-size));
    border-left: var(--default-size) solid transparent;
    border-right: var(--default-size) solid transparent;
    border-top: 0;
    border-bottom: calc(2*0.866*var(--default-size)) solid var(--color-text);
    transform: translateY(calc(-0.134*var(--default-size)));
}

.square {
    width: calc(2*var(--default-size));
    height: calc(2*var(--default-size));
    background-color: var(--color-text);
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

header h2 {
    font-size: 1rem;
}

.figure-caption {
    font-size: calc(1.34*var(--default-size));
    color: var(--color-text);
}

.custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
}

.diseno-web {
    position: relative;
    top: 100px;
    left: 700px;
    z-index: -999;
    content: "";
    background-image: url('../img/diseno-web.png');
    background-repeat: no-repeat;
}

.diseno-web::before {
    position: relative;
    top: -70px;
    right: 100px;
    content: url('../img/diseno-web.png');
    opacity: 0.1;
}

.diseno-web::after {
    position: relative;
    top: 70px;
    left: -400px;
    content: url('../img/diseno-web.png');
    opacity: 0.1;
}

.empatiza-separator {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    overflow:visible;
    background-image: url('../img/empatiza.png');
    background-repeat: repeat-x;
    height: 80px;
}

.empatiza {
    background: linear-gradient(0deg, #FF279C, var(--color-bg) 200px) fixed no-repeat;
}