/* * {
    outline: 1px solid red !important;
} */

/* 
.vh-100 {
    height: 750px !important;
} */

:root {
    --default-size: 1rem;
    --color-text: #e1e1e0;
    --color-text-secondary: #141418;
    --color-bg: #141418;
    --color-bg-secondary: #ffeaf6;
    --color-border: #ede100;
    --color-border-alt: #609ec0;
    font-size: var(--default-size);
    font-family: "Nunito Sans", sans-serif;
    --gap: 10px;
    --grid-name-text: #ef3b3b;
    --grid-title-text: #ef3b3b;
    --grid-text: #333;
}

body {
    color: var(--color-text);
    background-color: var(--color-bg);
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 3rem;
}

h2 {
    font-size: 3rem;
}

#header, #header h2 {
    font-size: 0.75rem;
}

.figure-caption {
    font-size: calc(1.34*var(--default-size));
    color: var(--color-text);
}

section {
    overflow-x: hidden;
}

/* HELPER */

.with-hashtag::before {
    content: '# ';
}

/* svg.symbol {
    fill: currentColor;
    stroke: none;
    height: 64px;
    width: 64px;
} */

.enclosed {
    border-top: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
    margin-top: -1px;
    margin-bottom: -1px;
}

.enclosed-alt {
    border-top: 1px solid var(--color-border-alt);
    border-bottom: 1px solid var(--color-border-alt);
    margin-top: -1px;
    margin-bottom: -1px;
}

/* MAIN TITLE */

.diseno-web {
    width: 100%;
    height: calc(3 * 50px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
    .diseno-web {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .diseno-web>*:nth-child(n+4) {
        display: none;
    }
}

.diseno-web-item {
    background-image: url('../svg/diseno_web.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.1;
}

.diseno-web-item.animated {
    animation: fadeInOut 5s ease-in-out forwards;
}

@keyframes fadeInOut {
    0% {
        opacity: 0.1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.1;
    }
}

/* UTIL SHAPES */

.custom-cursor {
    position: fixed;
    top: 0;
    left: 0;

}

.symbol {
    height: 48px;
    width: 48px;
}

svg.plan-symbol {
    fill: currentColor;
    stroke: none;
    height: 64px;
    width: 64px;
}


#scroller {
    height: 100vh;
}

/* Page Loader */
.js .loading::before {
    content: '';
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ccd8e4;
    background: var(--body-bg);
}

.js .loading::after {
    content: '';
    position: fixed;
    z-index: 10000;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    margin: -40px 0 0 -40px;
    pointer-events: none;
    background: #333;
    background: var(--body-text);
    transform-origin: 0% 50%;
    animation: loaderAnim 1.5s linear infinite alternate forwards;
}

@keyframes loaderAnim {
    0% {
        transform: scale3d(0, 1, 1);
        transform-origin: 0% 50%;
    }

    50% {
        transform: scale3d(1, 1, 1);
        transform-origin: 0% 50%;
    }

    51% {
        transform: scale3d(1, 1, 1);
        transform-origin: 100% 50%;
    }

    100% {
        transform: scale3d(0, 1, 1);
        transform-origin: 100% 50%;
    }
}

.grid {
    display: grid;
    width: calc(100% - 6em);
    height: calc(100vh - 6em);
    grid-auto-rows: calc((calc(100vh - 6em) / 30) - var(--gap));
    grid-auto-columns: calc((calc(100% - 6em) / 30) - var(--gap));
    justify-content: center;
    align-content: center;
    grid-gap: var(--gap);
    pointer-events: none;
    margin: auto;
}

.no-js .grid {
    margin: 0 0 15vh;
}

.js .grid {
    opacity: 0;
}

.js .grid--current {
    opacity: 1;
    pointer-events: auto;
}

.grid__item {
    position: relative;
    padding: 1em;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    transition: transform 0.2s ease-out;
}

.grid__item--name,
.grid__item--title,
.grid__item--text {
    pointer-events: none;
    padding: 0;
    margin: 0;
}

.grid__item--name,
.grid__item--title {
    text-transform: uppercase;
    line-height: 0.8;
    font-family: 'Kanit', sans-serif;
}

.grid__item--name {
    font-size: 7vw;
    color: var(--grid-name-text);
}

.grid__item--title {
    font-size: 3.5vh;
    text-transform: uppercase;
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    color: var(--grid-title-text);
}

.grid__item--text {
    font-size: 0.85em;
    line-height: 1.2;
    display: flex;
    color: inherit;
    color: var(--grid-text);
}

.grid__item--animateOut {
    animation: animateOut 0.8s cubic-bezier(0.7, 0, 0.3, 1) forwards;
}

@keyframes animateOut {
    to {
        opacity: 0;
    }
}

.grid__item--animateIn {
    animation: animateIn 0.8s cubic-bezier(0.7, 0, 0.3, 1) forwards;
}

@keyframes animateIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* y1 x1 y2 x2 */
.grid--layout .grid__item:first-child {
    grid-area: 11 / 1 / 17 / 7;
    background-image: url(../img/cabanas/1.jpg);
}

.grid--layout .grid__item:nth-child(2) {
    grid-area: 22 / 15 / 29 / 22;
    background-image: url(../img/cabanas/2.jpg);
}

.grid--layout .grid__item:nth-child(3) {
    grid-area: 1 / 15 / 8 / 23;
    background-image: url(../img/cabanas/3.jpg);
}

.grid--layout .grid__item:nth-child(4) {
    grid-area: 17 / 22 / 24 / 30;
    background-image: url(../img/cabanas/4.jpg);
}

.grid--layout .grid__item:nth-child(5) {
    grid-area: 9 / 22 / 17 / 30;
    background-image: url(../img/cabanas/5.jpg);
}

.grid--layout .grid__item:nth-child(6) {
    grid-area: 22 / 9 / 28 / 15;
    background-image: url(../img/cabanas/6.jpg);
}

.grid--layout .grid__item:nth-child(7) {
    grid-area: 8 / 7 / 22 / 22;
    background-image: url(../img/cabanas/7.jpg);
}

div.grid__item::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #444;
    mix-blend-mode: color;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
}

.grid:not(.grid--animating) div.grid__item:hover::after {
    opacity: 1;
}

#emp {
    background-color: #EFF5F9;
    color: #000 !important;
}

#def {
    background-color: #FFE9F5;
    color: #000 !important;
}


#ide {
    background-color: #ffffff;
    color: #000;
}

#boc {
    background-color: #F6F6F6;
    color: #000;
}

